/* You can add global styles to this file, and also import other style files */
body {
  float: left;
  padding: 0 10px;
  width: calc(100% - 20px);
  box-sizing: border-box;
}
div, .block{
  float: left;
  width: auto;
}
section, .section{
  float: left;
  width: 100%;
}

.box{
  margin: 5px;
  border: 1px solid #323232;
  padding: 5px 15px;
  box-sizing: border-box;
  height: 30px;
}
